@import "../_variables/common";
@import "../_variables/sizes";
@import "../_variables/typography";

@mixin tn-heading($font-size) {
  margin-top: $tn-spacing-heading--top;
  margin-bottom: $tn-spacing-heading--bottom;
  font-size: $font-size;
  font-weight: normal;
  line-height: $tn-line-height--heading;
}
