@import "tn-p-mixins";

/**
 * Generic paragraph
 *
 * @atom Basic paragraph
 * @section Typography
 * @markup
 *  <p class="tn-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisl lorem, dapibus sed convallis quis, sollicitudin accumsan dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum faucibus arcu eget nisi posuere consectetur.</p>
 */
.tn-p {
  @include tn-p;
}
