@import "../_variables/form-elements";
@import "../_variables/common";
@import "../_variables/typography";

@mixin tn-button() {
  padding: 0 $tn-spacing--standard-element-nonbordered;
  transition: opacity .2s ease-in-out;
  border: 0;
  border-radius: $tn-border--standard-element-border-radius;
  background: $tn-color--brand;
  color: $tn-color--white;
  font-size: $tn-font-size--large;
  line-height: $tn-height--standard-element;
  cursor: pointer;
}

@mixin tn-button--disabled() {
  opacity: $tn-opacity-inactive;
}
