@import "../_variables/form-elements";
@import "../_variables/typography";

@mixin tn-input() {
  height: $tn-height--mobile-element;
  padding: 0 $tn-spacing--mobile-element-bordered;
  border: 1px solid $tn-color--gray-border;
  border-radius: $tn-border--mobile-element-border-radius;
  font: $tn-font--default;
}

@mixin tn-input--invalid() {
  border-color: $tn-color--red-invalid;
  color: $tn-color--red-invalid;
}
