@import "../_variables/form-elements";
@import "../_variables/typography";

/*
* @mixin Default input styling
* @section Form elements
*/
@mixin tn-input() {
  height: $tn-height--mobile-element;
  padding: 0 $tn-padding--mobile-element-bordered;
  border: 1px solid $tn-color--gray-border;
  border-radius: $tn-padding--mobile-element-border-radius;
  font: $tn-font--default;
}

/*
* @mixin Invalid input styling
* @section Form elements
*/
@mixin tn-input--invalid() {
  border-color: $tn-color--red-invalid;
  color: $tn-color--red-invalid;
}
