@import "../_variables/common";
@import "../_variables/typography";

@mixin tn-steps() {
  counter-reset: step;
  display: flex;
  flex-wrap: wrap;
  padding: $tn-spacing--standard-element-nonbordered 0 $tn-spacing--standard-element-nonbordered 0;
}

@mixin tn-steps--small() {
  padding: $tn-spacing--small-element-nonbordered 0 $tn-spacing--small-element-nonbordered 0;

  .tn-step {
    height: $tn-height--small-element;
    margin: 0 $tn-height--small-element $tn-spacing--small-element-nonbordered 0;
    font-size: $tn-font-size--default;
    line-height: $tn-font-size--default;

    &::before {
      width: $tn-height--small-element;
      height: $tn-height--small-element;
      margin-right: $tn-spacing--small-element-nonbordered;
      line-height: $tn-height--small-element;
    }
  }
}

@mixin tn-step() {
  height: $tn-height--standard-element;
  margin: 0 $tn-height--standard-element $tn-spacing--standard-element-nonbordered 0;
  color: $tn-color--default;
  font-size: $tn-font-size--large;
  line-height: $tn-height--standard-element;
  opacity: $tn-opacity-inactive;

  &::before {
    display: inline-block;
    counter-increment: step;
    width: $tn-height--standard-element;
    height: $tn-height--standard-element;
    margin-right: $tn-spacing--standard-element-nonbordered;
    border-radius: 50%;
    background-color: $tn-color--default;
    color: $tn-color--white;
    line-height: $tn-height--standard-element;
    text-align: center;
    content: counter(step);
  }
}

@mixin tn-step--active() {
  color: $tn-color--default;
  opacity: $tn-opacity-normal;

  &::before {
    background-color: $tn-color--brand;
  }
}
