/*
 * @color Brand color
 * @section Colors
 */
$tn-color--brand: #007ace;

/*
 * @color Base white
 * @section Colors
 */
$tn-color--white: #fff;

/*
 * @nuclide Icon size
 * @section Common
 */
$tn-icon-size: 24px;

/*
 * @nuclide Opacity normal
 * @section Common
 */
$tn-opacity-normal: 1;

/*
 * @nuclide Opacity inactive
 * @section Common
 */
$tn-opacity-inactive: .5;

/*
 * @mixin Absolute-top-left
 * @section Common
 */
@mixin tn-position-absolute-top-left() {
  position: absolute;
  top: 0;
  left: 0;
}

/*
 * @mixin Box-sizing: border-box (+ children)
 * @section Common
 */
@mixin tn-border-box-everything() {
  box-sizing: border-box;
  /* stylelint-disable-next-line selector-no-universal */
  > * {
    box-sizing: border-box;
  }
}
