/*
 * @color Brand color
 * @section Colors
 */
$tn-color--brand: #007ace;

/*
 * @color Muted brand color (50% opacity)
 * @section Colors
 */
$tn-color--brand-muted: rgba(0, 122, 206, .5); // #007ace, 50% opacity

/*
 * @color Base white
 * @section Colors
 */
$tn-color--white: #fff;

/*
 * @color Default font color
 * @section Colors
 */
$tn-color--default: rgba(0, 0, 0, .87);

/*
 * @color Muted font color
 * @section Colors
 */
$tn-color--muted: rgba(0, 0, 0, .67);

/*
 * @nuclide Opacity normal
 * @section Common
 */
$tn-opacity-normal: 1;

/*
 * @nuclide Opacity inactive
 * @section Common
 */
$tn-opacity-inactive: .5;

/*
 * @color Default input border color
 * @section Colors
 */
$tn-color--gray-border: #ddd;

/*
 * @color Invalid input border color
 * @section Colors
 */
$tn-color--red-invalid: #d32f2f;

/*
 * @nuclide Animation speed (quick)
 * @section Common
 */
$tn-animation-speed--quick: 150ms;

/*
 * @mixin Absolute-top-left
 * @section Common
 */
@mixin tn-position-absolute-top-left() {
  position: absolute;
  top: 0;
  left: 0;
}

/*
 * @mixin Box-sizing: border-box (+ children)
 * @section Common
 */
@mixin tn-border-box-everything() {
  box-sizing: border-box;
  /* stylelint-disable-next-line selector-no-universal */
  > * {
    box-sizing: border-box;
  }
}

/*
 * @mixin Generic browser style spacing reset
 * @section Common
 */
@mixin tn-reset-spacing() {
  margin: 0;
  padding: 0;
}

/*
 * @mixin Reset browser list-style
 * @section Common
 */
@mixin tn-list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
 * @mixin Make element unselectable in modern browsers (+ older chrome/safari)
 * @section Common
 */
@mixin tn-interaction--unseletable() {
  -webkit-touch-callout: none;
  user-select: none;
}
