/*
 * @color Brand color
 * @section Colors
 */
$tn-color--brand: #007ace;

/*
 * @color Base white
 * @section Colors
 */
$tn-color--white: #fff;

/*
 * @color Default font color
 * @section Colors
 */
$tn-color--default: rgba(0, 0, 0, .87);

/*
 * @nuclide Standard icon size
 * @section Common
 */
$tn-standard-icon-size: 24px;

/*
 * @nuclide Small icon size
 * @section Common
 */
$tn-small-icon-size: 16px;

/*
 * @nuclide Opacity normal
 * @section Common
 */
$tn-opacity-normal: 1;

/*
 * @nuclide Opacity inactive
 * @section Common
 */
$tn-opacity-inactive: .5;

/*
 * @mixin Absolute-top-left
 * @section Common
 */
@mixin tn-position-absolute-top-left() {
  position: absolute;
  top: 0;
  left: 0;
}

/*
 * @mixin Box-sizing: border-box (+ children)
 * @section Common
 */
@mixin tn-border-box-everything() {
  box-sizing: border-box;
  /* stylelint-disable-next-line selector-no-universal */
  > * {
    box-sizing: border-box;
  }
}

/*
 * @mixin Reset browser list-style
 * @section Common
 */
@mixin tn-list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}
