/*
 * @color Brand color
 * @section Colors
 */
$tn-color--brand: #007ace;

/*
 * @color Base white
 * @section Colors
 */
$tn-color--white: #fff;

/*
 * @nuclide Main padding
 * @section Common
 */
$tn-padding--main-content: 20px;
