/*
 * @color Default input border color
 * @section Colors
 */
$tn-color--gray-border: #ddd;

/*
 * @color Invalid input border color
 * @section Colors
 */
$tn-color--red-invalid: #d32f2f;

/*
 * @nuclide Standard-element height
 * @section Common
 */
$tn-height--standard-element: 56px;

/*
 * @nuclide standard-element spacing
 * @section Common
 */
$tn-spacing--standard-element-bordered: 15px;

/*
 * @nuclide Standard-element (bordered) spacing
 * @section Common
 */
$tn-spacing--standard-element-nonbordered: 16px;

/*
 * @nuclide Standard-element border radius
 * @section Common
 */
$tn-border--standard-element-border-radius: 2px;
