/*
 * @nuclide Default font
 * @section Fonts
 */
$tn-font--default: 16px arial;

/*
 * @nuclide Default font-size
 * @section Fonts
 */
$tn-font-size--default: 16px;

/*
 * @nuclide Slightly larger font-size
 * @section Fonts
 */
$tn-font-size--large: 18px;

/*
 * @nuclide Heading margin top
 * @section Fonts
 */
$tn-spacing-heading--top: 48px;

/*
 * @nuclide Heading margin bottom
 * @section Fonts
 */
$tn-spacing-heading--bottom: 12px;

/*
 * @nuclide Heading 1 size
 * @section Fonts
 */
$tn-font-size--h1: 34px;

/*
 * @nuclide Heading 2 size
 * @section Fonts
 */
$tn-font-size--h2: 24px;

/*
 * @nuclide Heading 3 size
 * @section Fonts
 */
$tn-font-size--h3: 20px;

/*
 * @nuclide Heading 4 size
 * @section Fonts
 */
$tn-font-size--h4: 16px;

/*
 * @nuclide Default heading line-height
 * @section Fonts
 */
$tn-line-height--heading: 1.25;

/*
* @nuclide Default line-height
* @section Fonts
*/
$tn-line-height--default: 1.5;

/*
 * @nuclide Default documentation line-height
 * @section Fonts
 */
$tn-line-height--docs: 1.75;

/*
 * @color Light gray background
 * @section Colors
 */
$tn-color--light-gray-background: #f5f5f5;

/*
 * @color Gray
 * @section Colors
 */
$tn-color--gray: #9b9b9b;
