/*
 * @nuclide Default font
 * @section Fonts
 */
$tn-font--default: 16px arial;

/*
 * @nuclide Default font-size
 * @section Fonts
 */
$tn-font-size--default: 16px;

/*
 * @nuclide Slightly larger font-size
 * @section Fonts
 */
$tn-font-size--large: 18px;

/*
 * @nuclide Default line-height
 * @section Fonts
 */
$tn-line-height--default: 1.5;

/*
 * @nuclide Default documentation line-height
 * @section Fonts
 */
$tn-line-height--docs: 1.75;

/*
 * @color Light gray background
 * @section Colors
 */
$tn-color--light-gray-background: #f5f5f5;

/*
 * @color Gray
 * @section Colors
 */
$tn-color--gray: #9b9b9b;
