@import "../../_variables/common";
@import "../../_variables/form-elements";
@import "../../_variables/typography";

$tn-radio-base-size: 20px;

@mixin tn-radiowrap() {
  @include tn-border-box-everything;

  display: inline-block;
  position: relative;
  height: $tn-radio-base-size;
}

@mixin tn-radiowrap__radio {
  display: none;
}

@mixin tn-radiowrap__text {
  padding-right: 5px;
  padding-left: $tn-radio-base-size + 5px;
  font-size: $tn-font-size--default;
}

@mixin tn-radiowrap__pseudo-radio() {
  @include tn-position-absolute-top-left;
  @include tn-border-box-everything;

  width: $tn-radio-base-size;
  height: $tn-radio-base-size;
  transition: box-shadow $tn-animation-speed--quick ease;
  border: 2px solid #757575;
  border-radius: $tn-radio-base-size / 2;
  background: $tn-color--white;
  box-shadow: inset 0 0 0 8px $tn-color--white;
  content: "";
}

@mixin tn-radiowrap__pseudo-radio--checked {
  border-color: $tn-color--brand;
  background-color: $tn-color--brand;
  box-shadow: inset 0 0 0 3px $tn-color--white;
}
